* {
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-image: url("https://static.vecteezy.com/system/resources/previews/002/127/667/large_2x/luxury-black-poker-card-symbols-background-illustration-free-vector.jpg");
  color: white;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.hidden {
  visibility: hidden;
}

div {
  justify-content: center;
}

@keyframes pulse-red {
  0% {
    transform: scale(0.95);
    text-shadow: 0px 0px rgba(255, 82, 82, 0.7);
  }

  50% {
    transform: scale(1);
    text-shadow: 4px -1px red;
  }
  100% {
    transform: scale(0.95);
    text-shadow: 0px 0px rgba(255, 82, 82, 0.7);
  }
}
#title {
  display: flex;
  font-weight: 100;
  margin-bottom: 20px;
  padding-top: 40px;
  font-size: 50px;
  max-width: 500px;
  margin: 0 auto;
  color: black;
  font-weight: bolder;
  -webkit-text-stroke: 1px red; /* got this from https://www.youtube.com/watch?v=3LlLkapKw6Q  */
  -webkit-animation: pulse-red 2s infinite;
  -moz-animation: pulse-red 2s infinite;
  -o-animation: pulse-red 2s infinite;
  animation: pulse-red 2s infinite;
  z-index: 500;
}
#title-text {
  display: flex;
}
.game-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 500px;
  /* grid-template-columns: 350px 33% 33%; */
}
.blackjack-container {
  margin-left: 20px;
  margin-top: -3px;
}
.blackjack-container:hover {
  cursor: pointer;
}
.war-container:hover {
  cursor: pointer;
}
.inPlay-card-container {
  margin-top: 30px;
}

button {
  z-index: 5;
}
