/* * {
  box-sizing: border-box;
} */

body {
  background-image: url("https://static.vecteezy.com/system/resources/previews/002/127/667/large_2x/luxury-black-poker-card-symbols-background-illustration-free-vector.jpg");
  color: white;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.hidden {
  visibility: hidden;
}

.deck-list {
  justify-content: flex-start;
  overflow-wrap: break-word; /*  https://css-tricks.com/almanac/properties/o/overflow-wrap/ */
  margin: 0 auto;
  padding-top: 20px;

  max-width: 90%;
  height: 70%;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.start-container {
  padding-bottom: 15px;
}

.inPlay-card-container {
  align-self: center;
}

#title {
  font-family: fantasy;
  font-weight: 100;
  margin-bottom: 20px;
  padding-top: 40px;
  font-size: 50px;
  color: green;
  font-weight: bolder;
  -webkit-text-stroke: 2px red; /* got this from https://www.youtube.com/watch?v=3LlLkapKw6Q  */
}
.game-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* grid-template-columns: 350px 33% 33%; */
  background-color: green;
  width: 800px;
  padding-left: px;
  /* padding-right: 150px; */
  margin: 0 auto;
  border-radius: 100px;
  border: 50px groove purple;
  /* transform: skew(2deg, 0deg); */
  filter: drop-shadow(10px 20px 1px #00000573);
}
.inPlay-card-container {
  margin-top: 30px;
  margin-left: -145px;
}

button {
  z-index: 5;
}
.under-table {
  margin: 0 auto;
  margin-top: -35px;
}
.VS {
  margin-top: -43px;
  font-family: fantasy;
  font-size: large;
  color: black;
  -webkit-text-stroke: 1px black;
}
.war {
  margin-top: -43px;
  font-family: fantasy;
  font-size: large;
  -webkit-text-stroke: 2px red;
}
.spacer {
  margin-top: -43px;
  font-family: fantasy;
  font-size: large;
  color: green;
}
.score-area {
  margin-top: 7%;
  justify-content: flex-start;
  height: 275px;
  width: 175px;
  border: 5px solid black;
  border-radius: 25px;
}
.draw-decks {
  justify-content: flex-end;
  z-index: 500;
}
.warArea {
  justify-content: flex-end;

  z-index: 5;
  padding-left: 50px;
}

.warArea2 {
  justify-content: flex-end;
  margin-left: -35px;
  z-index: 3;
  /* margin-right:0px; */
}

.warArea3 {
  justify-content: flex-end;
  margin-left: -100px;
  z-index: 3;
  /* margin-right:0px; */
}
.warArea4 {
  justify-content: flex-end;
  margin-left: -100px;
  z-index: 3;
  /* margin-right:0px; */
}

.animated {
  transform: translate(100px, 0px);
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
