/* * {
  box-sizing: border-box;
} */

body {
  background-color: grey;
  color: white;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.deck-list {
  justify-content: flex-start;
  overflow-wrap: break-word; /*  https://css-tricks.com/almanac/properties/o/overflow-wrap/ */
  margin: 0 auto;
  padding-top: 20px;

  max-width: 90%;
  height: 70%;
  border: 1px solid purple;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.start-container {
  padding-bottom: 15px;
}

.inPlay-card-container {
  align-self: center;
}

#title {
  font-family: fantasy;
  font-weight: 100;
  margin-bottom: 20px;
  padding-top: 40px;
  font-size: 50px;
  color: green;
  font-weight: bolder;
  -webkit-text-stroke: 2px red; /* got this from https://www.youtube.com/watch?v=3LlLkapKw6Q  */
}
.game-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* grid-template-columns: 350px 33% 33%; */
  background-color: green;
  width: 800px;
  padding-left: px;
  padding-right: 150px;
  margin: 0 auto;
  border-radius: 100px;
  border: 50px groove purple;
}
.inPlay-card-container {
  margin-top: 30px;
}

.under-table {
  margin: 0 auto;
  margin-top: -35px;
}
.VS {
  margin-top: -43px;
  font-family: fantasy;
  font-size: large;
  -webkit-text-stroke: 2px red;
}
.score-area {
  margin-top: 7%;
  justify-content: flex-start;
  height: 275px;
  width: 250px;
  border: 10px solid black;
  border-radius: 25px;
}

.warArea {
  justify-content: flex-end;
  margin-left: -50px;
}
